<% provide :title, :Help %>

<h1><%= t :Help %></h1>
<p>
  <%= t :help_1 %>
  <%= link_to t(:help_2), "https://mjiit.utm.my/" %>
  <%= t :help_3 %>
  <em><%= link_to t(:help_4), "https://mjiit.utm.my/wp-content/uploads/2020/10/UG-ACADEMIC-GUIDELINES-20202021.pdf" %></em>.
</p>
